.ingredients-container {
  visibility: 0;
}

.ingredients-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.recipe-box {
  border: 1px solid #ccc;
  margin: 1em;
  padding: 1em;
}

.recipe-modal {
  display: none;
}
